@font-face {
font-family:droidsans;
src:url("http://vikaxnet/vikaxnet/fonts/OpenSans-SemiBold.ttf");


}

html,body {
font-size:13px;
margin:0px; padding:0px;
background-color:#f4f4f4;
font-family:droidsans;
width:100%;
box-sizing: border-box;

}
#header{
width:100%;
padding:40px;
background-color:white;
box-sizing: border-box;
margin-bottom:0px;
}
#header a{
color:black;
text-decoration:none;
margin:10px;


}
#header img{
width:100px;
float:left;

}
#header .nav{
float:right;

} 

#display{
font-size:16px;
float:left;
color:whitesmoke;
width:100%;
height:auto;

}
#display h2{
font-size:300%;
margin:0px;
}
#display div{
width:100%;
height:100%;
padding-top:100px;
font-size:100%;

}
#display .slide1{
background-image:  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
	url("images/slide1.jpg");
background-repeat:no-repeat;
background-size:100%;
}
#announcements{
width:100%; 
float:left;
padding:40px;
padding-top:10px;
padding-bottom:10px;
box-sizing:border-box;
background-color:#ecf4f2;


}
#announcements .inputf
{float:right;

font-family:droidsans;
padding:6px;
border:0px;
background-color:#72c5c0;
border:0px;
color:white;
text-transform:uppercase;
font-size:15px;
}

.inputf{
font-family:droidsans;
padding:6px;
border:0px;
background-color:transparent;
border:solid #72c5c0 1.5px;
color:#72c5c0;

}
#firstblock{

width:100%;
padding:40px;
box-sizing:border-box;
background-color:white;
float:left;
}
#firstblock .container
{
	
	width:100%;
	
	box-sizing:border-box;
}
#firstblock .item{
width:250px;
display:inline-block;
margin:10px;

}
#secondblock{
padding:40px;
}
#secondblock .smagic{
width:100%;
float:left;
}
#secondblock .container{
width:100%;

box-sizing:border-box;

}
#firstblock .item img{
width:70px;
object-fit:contain;
}


#secondblock .item-box{


display:inline-block;
width:250px;
height:180px; 
position:relative;

margin:20px;

}
#secondblock .item-box img{
width:70px;
position:absolute;
top:0px;
z-index:3;
left:35%;

}

#secondblock .item-box .item{
padding:20px;
padding-top:25px;
width:100%;
background-color:white;
position:absolute;
bottom:0px;
height:70%;
box-sizing:border-box;
}
#secondblock .item-box .item .stitle{
color:#1f909d;
}
#thirdblock{
float:left;
width:100%;

}
#thirdblock .thumb{

width:100px;
margin:30px;
height:80px;

}

#fouthblock{
width:100%;
box-sizing:border-box;
float:left;
position:relative;
box-sizing:border-box;
background-color:white;



}
#fouthblock .container{
width:80%;
margin:40px;
box-sizing:border-box;
postion:absolute;
bottom:0px;
z-index:3;
}
#fouthblock .background{
width:100%;
height:200px;
position:absolute;
bottom:0px;
background-color:black;
color:whitesmoke;
z-index:1;
box-sizing:border-box;

}
.blog{
width:100%;
z-index:5;
}
.blog .item{
width:200px;
display:inline-block;
text-align:left;
box-sizing:border-box;
}
.blog .item .title{
color:#72c5c0;
box-sizing:border-box;

}
#footer{
width:100%;
float:left;
text-align:center;
background-color:#303737;
color:#adc0c6;
padding:40px;
box-sizing:border-box;}

.view-header{
	
	background-color:red;
	
}
#blog-item{

display:inline-block;
width:200px;
border:solid grey 3px;

}

